* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.navbar {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  padding: 0 36px;
  background-color: #444444;
  color: #eeeeee;
}

.navbar-title {
  font-size: 2.5rem;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 36px;
}

.navbar-links__link {
  font-size: 1.5rem;
  color: #eeeeee;
  text-decoration: none;
  transition: color 500ms ease-out;
  padding: 8px;

  &:hover {
    color: #cccccc;
    border: 1px solid #cccccc;
    padding: 8px;
  }
}

.navbar-cart {
  font-size: 1.5rem;
  color: #eeeeee;
  background-color: #000000;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background-color: yellow;
  }
}

.shop_container {
padding: 100px;
width: 100%;
display: flex;
justify-content: center; 

}

.articles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  max-width: 80%;
}

.product-overview {
  border: 1px solid black;
  padding: 16px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
}

.product-overview__name {
  font-weight: 700;
  font-size: 1.1rem;
}

.product-overview__image {
  height: 200px;
}

.product-overview__description {
  font-weight: 300;
}

.product-overview__buy {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.add-to-cart-button {
  cursor: pointer;
}

.cart_container {
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  padding: 50px 18px;
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart-item {
  border: 1px solid black;
  margin: 8px;
}