@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.background-image {
  background-image: url('../public/img/adrien-olichon-RCAhiGJsUUE-unsplash.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index:-1;
}

.navbar {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 36px;
  background-color: #444444;
  color: #eeeeee;
}

.navbar-title {
  font-family: "Audiowide", sans-serif;
  color: #eeeeee;
  font-size: 2rem; 
  text-decoration: none;
  transition: all 500ms ease-out;

  &:hover {
    color: #aaaaaa;
    text-decoration: underline;
  }
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 36px;
}

.navbar-links__link {
  font-size: 1.5rem;
  color: #eeeeee;
  text-decoration: none;
  transition: color 500ms ease-out;
  padding: 8px;

  &:hover {
    color: #aaaaaa;
    text-decoration: underline;
  }
}

.navbar-cart {
  font-size: 1rem;
  color: #eeeeee;
  background-color: #BB86FC;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  img {
    height: 30px;
    width: 30px;
  }

  &:hover {
    background-color: #8c65bd;
  }

  &:active {
    background-color: #5c427b;
  }
}

.shop_container {
padding: 100px;
width: 100%;
display: flex;
justify-content: center; 

}

.articles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  max-width: 80%;
}

.product-overview {
  background-color: #fcf9ffc3;
  border: 1px solid #000000;
  padding: 16px;
  display: flex;
  gap: 8px;
  width: 250px;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  box-shadow: 5px 5px 5px #000000a1;
  transition: all 500ms ease-out;

  &:hover {
    transform: scale(105%);
    background-color: #fcf9ffe2;
  }
}

.product-overview__name {
  font-weight: 700;
  font-size: 1.1rem;
}

.product-overview__image {
  height: 200px;
}

.product-overview__description {
  font-weight: 300;
}

.product-overview__buy {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 12px;
  margin-top: 12px;
}

.add-to-cart-button {
  cursor: pointer;
  height:30px;
  width: 30px;
  border: none;
  padding: 10px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 25px;
    width: 25px;
  }

  &:hover {
    background-color: #fcf9ff;
  }

  &:active {
    background-color: #e3e0e6;
  }
}

.cart_container {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  width: 30%;
  height: 100%;
  padding: 18px 18px;
  background-color: #fcf9ff;
  border-left: 3px solid #333333;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
}

.cart__close-button {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  background-color: #BB86FC;
  border: none;
  border-radius: 50%;

  &:hover {
    background-color: #8c65bd;
  }

  &:active {
    background-color: #5c427b;
  }
}

.cart-item {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:  "image product"
                        "image quantity";
  
  margin: 8px 8px 32px 8px;

  img {
    grid-area: image;
    max-height: 100px;
    max-width:30px;
    height: auto;
    width: auto;
  }
}

.cart-item__product {
  grid-area: product;
  font-weight: 700;
}

.cart-item__quantity {
  grid-area: quantity;
  display: flex;

  button {
    height: 30px;
    width: 30px;
  }

  input {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
  }

  :last-child {
    margin-left: 30px;
  }
}

.cart-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 1.2rem;

  button {
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #BB86FC;
    padding: 8px;
    border: 3px solid #705097;
    border-radius: 8px;
    color: #eeeeee;


    &:hover {
      background-color: #e4cffe;
    }
  
    &:active {
      background-color: #cfaafd;
    }
  }
}

.homepage {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  a {
    font-size: 2rem;
    color: #eeeeee;
    text-decoration: none;
    background-color: #BB86FC;
    border: 2px solid #eeeeee;
    border-radius: 7px;
    padding: 10px;

    &:hover {
      background-color: #e4cffe;
    }
  
    &:active {
      background-color: #cfaafd;
    }
  }
}

.home-text {
  color: #eeeeee;
  font-size: 3rem;
}

.home-pitch {
  color: #eeeeee;
  font-size: 1.2rem;
  text-align: center;
}

.home-cta {
  display: flex;
  align-items: center;
}

.home-image {
  background-image: url('../public/img/overview.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 600px;
  margin: 39px;
  background-position: center;
  filter: grayscale(22%);
}